@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --fontFamily: "Bebas Neue", sans-serif;
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-color: red;
    font-family: var(--fontFamily);
}

  
/* banner section start */
#bannerSection{
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

#bannerSection{
    background-image: url(/assets/BannerBackground.png);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}
/* banner section end */