@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root{
    --fontFamily: "Bebas Neue", sans-serif;
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    /* background-color: red; */
    font-family: var(--fontFamily);
    overflow-x: hidden;
}

  
/* banner section start */
.innerLogoContainer {
    width: 25%;
    display: flex;
    justify-content: end;
}
.nav {
    width: 75%;
}
.logaContianer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.innerLogoContainer img {
    width: 85%;
    object-fit: contain;
    /* padding: 1rem; */
}
.contactDetails {
    text-align: end;
    font-size: 17px;
    line-height: 71px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: right;
}
#bannerSection{
    height: 100vh;

    width: 100%;
    max-width: 1920px;
    margin: auto;
    margin-bottom: 5rem;
}

#bannerSection{
    background-image: url(/assets/BannerBackground.png);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.navItems{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.navItems{
    font-size: 21px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
}

.bannerContents {
    display: flex;
    height: 570px;
}


.smallText{
    font-size: 24px;
    /* line-height: 33px; */
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Bebas Neue";
    border: 3px solid rgb(110 106 106);
    border-style: dashed;
    width: fit-content;
    margin-bottom: 30px;
    padding: 1px 6px;
}
.leftHeading{
    font-size: 114px;
    line-height: 66px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
    margin-bottom: 12px;
}
.mediumText{
    font-size: 56px;
    /* line-height: 62px; */
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}
.bannerConbtents{
    height: 100%;
}
.bannerLeftContent {
    width: 48%;
    /* border: 1px solid black; */
    /* height: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.bannerRightContent {
    /* border: 1px solid black; */
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;

}


.bannerImageContainer {
    display: flex;
}
.bannerImage{
    position: relative;
}
.friseContainer {
    position: absolute;
    left: 5%;
    top: 22%;
}


.burgerContainer {
    z-index: 220;
}
.burgerContainer::after{
    content: url(/assets/BannerBugerShadow.png);
    position: absolute;
    bottom: -11%;
    left: -11%;

}

.colaContianer {
    position: absolute;
    right: 12%;
    top: 12%;
    z-index: 3;
}
.colaImage::after{
    content: url(/assets/BannerDrinkShadow.png);
    position: absolute;
    position: absolute;
    bottom: -9%;
    left: -57%;
}
/* banner section end */

/* Image section started  */
#imageSection{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    margin-bottom: 5rem;
}
.imageSectionInnercontainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.imageRightContnt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.imageDescriptionBox{
    position: relative;
}
.imageDescriptionBox img{
    display: flex;

}
.imgDescription{
    position: absolute;
    top: 20px;
    left: 20px;
    
}
.imgDescriptionSmallTxt{
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
}
.imgDescriptionheadTxt{
    font-size: 45px;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Bebas Neue";
}

.imgBox{
    position: relative;
}
.imgTxtContainer {
    position: absolute;
    top: 20px;
    left: 20px;
}
.imgSmallTxt{
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
}
.imgHeadTxt{
    font-size: 45px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Bebas Neue";
}
/* Image section end  */

/* choose section started */
#chooseSection{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    margin-bottom: 5rem;
}
.chooseSmalltxt{
    text-align: -webkit-center;
    margin-bottom: 3rem;

}
.chooseSmalltxt h2{
    width: fit-content;
    padding: 10px 26px;
    background-color: #ffc045;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.chooseHeadTxt{
    text-align: center;

    margin-bottom: 1.5rem;
}
.chooseHeadTxt h2{
    font-size: 50px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}

.choosePara {
    margin-bottom: 3rem;
}
.choosePara p{
    width: 75%;
    text-align: center;
    height: 56px;
    font-size: 17px;
    line-height: 29px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: auto;
}

.orderBurgerContainer {
    display: flex;
    justify-content: space-around;
}
.burgerBox {
    text-align: center;
}
.burgerImageContainer{
    position: relative;
}
.burgerDetails h3{
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.burgerDetails p{
    /* width: 367px; */
    height: 51px;
    font-size: 17px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;

}
.burgerDetails button{
    font-size: 17px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Alfa Slab One";
    border: none;
    padding: 7px 35px;
    background-color: #bf2222;
}
burgerImageContainer{
    margin-bottom: 1rem;
}
.burgerImageContainer::after{
    content: url(/assets/Shadow1.png);
    position: absolute;
    bottom: 0;
    left: 0;
}
.burgerImageInnerContainer{
    padding: 4rem 0;
}
.burgerDetails {
    padding: 0 3rem;
}
.burgerDetails h3, p, button{
    margin-bottom: 1rem;
}
/* choose section end */
/* upcomming section started */
#upcommingSection {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    margin-bottom: 5rem;
}
.upcommingCotainer {
    width: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -3px;
    display: flex;
    padding: 20px;
}
.upLeft {
    padding: 2rem 3rem;
    word-wrap: break-word;
}
.upLeft h5{
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.upLeft h2{
    font-size: 42px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}
.upPara {
    margin-top: 2rem;
}
.upPara p{
    font-size: 21px;
    line-height: 33px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Montserrat";
}
/* upcomming section end */

/* reservation section started */
#reservationSection{
    width: 100%;
    max-width: 1920px;
    margin: 5rem auto;
}
.reservationHaed {
    text-align: center;
}


.reservationHaed p{
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.reservationHaed h2{
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 46px;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";

}
.formContainer {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}
form {
    display: flex;
    flex-wrap: wrap;
    gap:20px
}
input[type="text"] {
    width: 15rem;
    padding: 15px;
}
.formBtn button {
    /* padding: 15px; */
    width: 17rem;
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
    background-color: #bf2222;
    color: white;

    font-size: 21px;
    /* line-height: 46px; */
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Alfa Slab One";
    height: 100%;
}
/* reservation section end */

